<h2>{{name}}</h2><br>
<h2>{{name | custamPipes}}</h2><br>
<h2>{{name | uppercase}}</h2><br>
<h2>{{msg | titlecase}}</h2><br>
<h2>{{name | slice:3}}</h2><br>
<h2>{{name | slice:3:6}}</h2><br>
<h2>{{persons | json}}</h2><br><br>

<h2>{{5.5 | number: '4.2-6'}}</h2>
<h2>{{5.678 | number: '3.4-5'}}</h2>
<h2>{{5.678424 | number: '3.1-2'}}</h2><br>

<h2>{{0.25 | percent}}</h2>
<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency :'INR'}}</h2><br>

<h2>{{date}}</h2>
<h2>{{date | date: 'short'}}</h2>
<h2>{{date | date: 'shortDate'}}</h2>
<h2>{{date | date: 'shortTime'}}</h2><br>

<h2>{{date | date: 'medium'}}</h2>
<h2>{{date | date: 'mediumDate'}}</h2>
<h2>{{date | date: 'mediumTime'}}</h2><br>

<h2>{{date | date: 'long'}}</h2>
<h2>{{date | date: 'longDate'}}</h2>
<h2>{{date | date: 'longTime'}}</h2>

<!-- <button type="button" (click)="onSelect()">plus</button> -->