<div class="container bg-success">
  <h2>Contact us</h2>
  <form style="margin-top: 40px;" (ngSubmit)="onSubmit()" [formGroup]="contactusData">
    <div class="form-group">
      <label>First name:</label>
      <input type="text" formControlName="firstName" placeholder="enter your first name" class="form-control" required>
     <small [class.d-none]="contactusData.get('firstName').valid || contactusData.get('firstName').untouched" class="text-danger">Name is required</small>
    </div>
    <div class="form-group">
      <label>Last name:</label>
      <input type="text" formControlName="lastname" placeholder="enter your last name" class="form-control">
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="text" formControlName="email" placeholder="enter your email" class="form-control">
    </div>
    <div class="form-group">
      <label>Mobile Number:</label>
      <input type="tel"  formControlName="phone" placeholder="enter your number" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
    <button type="reset" class="btn btn-warning">Reset</button>&nbsp;
    <button (click)="LoadApiData()" type="button" class="btn btn-danger">LoadApiData</button>
  </form>

  <h3>{{contactusData.value | json}}</h3>
</div>