
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>CSW Online Exam</h1>
        <div class="read">
          <a href="https://www.facebook.com/" target="_block">Read More</a> 
        </div>
        <br>
        <div class="head">
          <h3>Exam: {{ExamData.ExamName}}</h3>
        </div><br>
        <div class="row">
          <div class="col-md-3">
            <p>Question no: 5</p>
          </div>
          <div class="col-md-5">
          </div>
          <div class="col-md-4">
           View in:
             <select>
               <option>Hindhi</option>
               <option>Telugu</option>
               <option>English</option>
             </select>
          </div>
        </div>
        <hr>
        <div>
          <p id="demo">1.What kind of technologies comes under the UI technologies?</p>
          <ol type="A" >
            <li> <input type="radio"  name="optradio"> 1.Java</li>
            <li><input type="radio"  name="optradio"> 2..net</li>
            <li><input type="radio"  name="optradio"> 3.Html, CSS, bootstrap</li>
            <li> <input type="radio"  name="optradio"> 4.MVC, spring</li>
          </ol>
         </div><br><br><br><br><br><br><br>
         <div class="row">
          <div class="col-md-3">
           <button type="button" class="name">Read More</button> 
          </div>
          <div class="col-md-3">
           <button type="button" class="side">Read More</button> 
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
           <button type="button" class="nav">Read More</button> 
          </div>

       </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
        <img src="./assets/images/3.png" alt="" width="60" height="60" >
          </div>
          <div class="col-md-8 time">
             <p><b>Time left:<p id="demo1"></p></b>
                 Calculate</p>
          </div>
        </div>
        <div class="row">
          <p>Your viewing <b>general awareness</b>
             section <br> 
             Question Practice</p> 
        </div>
      </div>
      <div class="Scroll">
        <button (click)="onSelect()"  [style]="abcd" active type="button">1</button>&nbsp;
        <button (click)="onSelect1()" class="btn-primary" type="button">2</button>&nbsp;
        <button  (click)="onSelect2()" class="btn btn-danger" type="button">3</button>&nbsp;
        <button  (click)="onSelect3()" class="btn btn-danger" type="button">4</button>
      <br><br>
        <button (click)="onSelect4()" class="btn btn-danger" type="button" >5</button>&nbsp;
        <button type="button">6</button>&nbsp;
        <button type="button">7</button>&nbsp;
        <button type="button">8</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      <br><br>
        <button type="button">1</button>&nbsp;
        <button type="button">2</button>&nbsp;
        <button type="button">3</button>&nbsp;
        <button type="button">4</button>
      </div>
      <div class="container">
        <h6><b>selected:</b></h6>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="butt"></button>
          </div>
          <div class="col-md-4 atte">
            <h6>Attempted</h6>
          </div>
          <div class="col-md-2">
            <button type="button" class="butt1"></button>
          </div>
          <div class="col-md-4 atte">
            <h5>Not Attempted</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="butt"></button>
          </div>
          <div class="col-md-4 atte">
            <h5>Attempted</h5>
          </div>
          <div class="col-md-2">
            <button type="button" class="butt1"></button>
          </div>
          <div class="col-md-4 atte">
            <h5>Not Attempted</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>