<!-- <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>CSW Online Exam</h1>
    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>CSW Online Exam</h1>
          <div class="read">
            <a href="https://www.facebook.com/" target="_block" class="num">Read More</a>  
          </div>
          <div class="row xyz">
            <div class="col-md-3">
              <p>Question no: 5</p>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-4">
             View in:
               <select>
                 <option>Hindhi</option>
                 <option>Telugu</option>
                 <option>English</option>
               </select>
            </div>
          </div>
          <hr>
           <div>
            <p>1.What kind of technologies comes under the UI technologies?</p>
            <ol type="A">
              <li> <input type="radio"  name="optradio"> 1.Java</li>
              <li><input type="radio"  name="optradio"> 2..net</li>
              <li><input type="radio"  name="optradio"> 3.Html, CSS, bootstrap</li>
              <li> <input type="radio"  name="optradio"> 4.MVC, spring</li>
            </ol>
           </div><br><br><br><br><br><br><br>
            <div class="row">
               <div class="col-md-3">
                <button type="button" class="name">Read More</button> 
               </div>
               <div class="col-md-3">
                <button type="button" class="side">Read More</button> 
               </div>
               <div class="col">
               </div>
               <div class="col-md-5">
                <button type="button" class="nav">Read More</button> 
               </div>
  
            </div>
      </div>
      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <img src="3.png" alt="" width="40" height="40" >
            </div>
            <div class="col-md-8 time">
             <h6><b>Time left: 26:30<b></h6>
             <h6>Calculate</h6>
            </div>
          </div>
          <div class="font">
           <h6>Your viewing <b>general awareness</b></h6>
           <h6 class="secion">section</h6>
           <h6 class="secion">Question Practice</h6> 
          </div>
        </div>
        <div class="Scroll H1toH5">
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">5</button>
          <button type="button">6</button>
          <button type="button">7</button>
          <button type="button">8</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        <br><br>
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
        </div>
        <div class="container">
          <h6><b>selected:</b></h6>
          <div class="row">
            <div class="col-md-2">
              <button type="button" class="butt"></button>
            </div>
            <div class="col-md-4 atte">
              <h6>Attempted</h6>
            </div>
            <div class="col-md-2">
              <button type="button" class="butt1"></button>
            </div>
            <div class="col-md-4 atte">
              <h5>Not Attempted</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <button type="button" class="butt"></button>
            </div>
            <div class="col-md-4 atte">
              <h6>Attempted</h6>
            </div>
            <div class="col-md-2">
              <button type="button" class="butt1"></button>
            </div>
            <div class="col-md-4 atte">
              <h5>Not Attempted</h5>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6"> 
               <button type="button" class="paper">Question paper</button>
            </div>
            <div class="col-md-6"> 
              <button type="button"  class="paper1">Intruduction</button>
            </div>
          </div>
           <div class="row topmar">
            <div class="col-md-6"> 
               <button type="button" class="paper">Profile</button>
            </div>
            <div class="col-md-6"> 
              <button type="button"  class="paper1">Intruduction</button>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div> -->