<!-- <div class="container">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>

    <input type="text" class="abc" >
  </form>
</div> -->

<!-- <app-edit></app-edit> -->

<!-- <app-users></app-users> -->
<!-- <app-sample></app-sample> -->
<!-- <app-data-bindings></app-data-bindings> -->
<!-- <app-property></app-property> -->
<app-pipes></app-pipes>
<!-- <app-directives></app-directives> -->
<!-- <app-employee-list></app-employee-list>
<app-employee-details></app-employee-details> -->
<!-- <app-form></app-form> -->

<!-- <app-testweb></app-testweb> -->
<!-- <app-flipkart></app-flipkart> -->

<!-- <app-multcastobs></app-multcastobs> -->
<!-- <app-exam></app-exam> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-login></app-login> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-table></app-table> -->
<!-- <div class="container">
    <h2>Stacked form</h2>
    <ng-container *ngFor="let abcd of UserData">
    <div  style="border: 1px solid black;margin-bottom: 15px;">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="abcd.useremail"
                name="email" required>
        </div>
        <div class="form-group">
            <label for="conemail1">Confirm Email:</label>
            <input type="email" class="form-control" id="conemail1" placeholder="Enter email" (keyup)="dsiBtn()" [(ngModel)]="abcd.userconfirmemail"
                name="email1">
            <button type="button" class="btn btn-primary" id="emailid" (click)="OnCopy()">Copy</button>
            <button type="button" class="btn btn-primary" [disabled]="!ischeck" (click)="OnEmailCheck(abcd.useremail,abcd.userconfirmemail)">Check</button>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter password" [(ngModel)]="abcd.password" name="pswd">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter phone" [(ngModel)]="abcd.phone" name="phone">
        </div>
        <div class="form-group">
            <label for="city">city</label>
            <input type="city" class="form-control" id="city" placeholder="Enter phone" [(ngModel)]="abcd.city" name="city">
        </div>
        <div class="form-group">
            <label for="state">state</label>
            <input type="state" class="form-control" id="state" placeholder="Enter state" [(ngModel)]="abcd.state" name="state">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
    </div>

</ng-container>
    <button type="submit" class="btn btn-primary" (click)="OnAdd()">Add</button>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>  -->

<!-- <app-testing></app-testing> -->

<!-- <input type="text" [(ngModel)]=data2>
<br>
{{data2}} -->

<!-- <app-multcastobs></app-multcastobs> -->
<!-- <div class="container">
    <nav>
        <a routerLink="/student">student list</a> &nbsp;
        <a routerLink="/course">course list</a>
    </nav>
    <router-outlet></router-outlet>
  </div> -->
  <!-- <app-tdf></app-tdf> -->
  <!-- <app-tdf2></app-tdf2> -->
  <!-- <app-reactive></app-reactive> -->
<!-- <app-practice></app-practice> -->
<!-- <app-testcase></app-testcase> -->
