<div class="container-fluid">
   <div class="row flipkrt">
     <div class="col-md-1">
     </div>
     <div class="col-md-10">
       <div class="row">
         <div class="col-md-1">
          <a href="#">
            <img src="./assets/images/7.jpg" alt="flipkarticon" width="75"> 
          </a>
         </div>
         <div class="col-md-6">
          <form class="example">
            <input type="text" placeholder="Search for Products, Brands and more">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          </div>
          <div class="col-md-2">
            <ul>
              <li  class="dropdown"><a class="links" href="#"><b>Login</b></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                </div>
              </li>
          </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li class="dropdown">
                <a class="dropdown-toggle more" href="#"><b>More</b></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-1">
            <a class="cart-button" href="#">
                <b><i class="fas fa-shopping-cart"></i>&nbsp;cart</b>
          </a>
          </div>
        
      </div>
    </div>
    <div class="col-md-1">
    </div>
   </div>
   
   <div class="container-fluid">
   <div class="row">
    <div class="col-md-1">
    </div>
     <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdwn1">
          Top Offers
        </button> 
      </div>
     </div>
     <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdwn1">
          Grocery
        </button>
      </div>
     </div>
     <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdwn1">
          Mobiles
        </button>
      </div>
    </div>
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdown-toggle dropdwn1" data-toggle="dropdown">
          Fashions
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>&nbsp;&nbsp;
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdown-toggle dropdwn2" data-toggle="dropdown">
          Electronics
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>&nbsp;&nbsp;
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdown-toggle dropdwn2" data-toggle="dropdown">
          Home
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>&nbsp;&nbsp;
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdown-toggle dropdwn2" data-toggle="dropdown">
          Appliances
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdwn1">
         Travel
        </button>
      </div>
    </div>
    <div class="col-md-1">
      <div class="dropdown">
        <button type="button" class="dropdown-toggle dropdwn2" data-toggle="dropdown">
          Beauty , Toyes & More
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
   </div>
  </div>  
  <div class="container-fluid;">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/8.png" class="img32" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/9.png" class="img32" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/10.png" class="img32" alt="New York">
        </div>
      </div>
      <!-- Left and right controls -->
      <div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
      </div>
  
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
    </div>
  </div>

   <div class="row">
     <div class="col-md-10">
        <div class="row day1">
           <div class="cl-md-2 deal">
              <h3>Deals of the Day</h3>
           </div>&nbsp;&nbsp;&nbsp;
           <div class="cl-md-2">
              <img class="left" src="./assets/images/11.png" width="20" height="20" alt="time">
            <p class="left"><span id="demo1"></span>Left</p>
          </div>
          <div class="cl-md-6">

          </div>
          <div class="cl-md-2">
         <button type="button" class="btn abcd">VIEW ALL</button>
          </div>
        </div><br>
        <hr>
        <div class="row">
           
        </div>
     </div>
     <div class="col-md-2">
      <img class="left" src="./assets/images/12.png" width="250" height="250" alt="time">
    </div>
   </div>
</div>
